  <div id="u65" class="ax_default">
        <img id="u65_menu" class="img " src="images/brands_db/u65_menu.png" alt="u65_menu"/>

        <!-- Unnamed (Table) -->
        <div id="u66" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u67" class="ax_default menu_item">
            <img id="u67_img" class="img " src="images/brands_db/u67.png"/>
            <div id="u67_text" class="text ">
              <p><span>Brands</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u68" class="ax_default menu_item">
            <img id="u68_img" class="img " src="images/brands_db/u67.png"/>
            <div id="u68_text" class="text ">
              <p><span>Collections</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u69" class="ax_default menu_item">
            <img id="u69_img" class="img " src="images/brands_db/u67.png"/>
            <div id="u69_text" class="text ">
              <p><span>Upload</span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u70" class="ax_default menu_item">
            <img id="u70_img" class="img " src="images/brands_db/u67.png"/>
            <div id="u70_text" class="text ">
              <p><a href="/logout">logout</a></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u71" class="ax_default menu_item">
            <img id="u71_img" class="img " src="images/brands_db/u71.png"/>
            <div id="u71_text" class="text ">
              <p><span>admin</span></p>
            </div>
          </div>
        </div>
      </div>
    