<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<% if(url == "collection_view"){ %><%= "active" %><% } %>">
        <a href="/collection_view"><span class="glyphicon glyphicon-list"></span> Collections</a>
      </li>
      <li class="<% if(url == "brands"){ %><%= |active" %><% } %>">
        <a href="/brands"><span class="glyphicon glyphicon-brnad"></span> Brands</a>
      </li> 
	  <li class="<% if(url == "upload"){ %><%= "active" %><% } %>">
        <a href="/upload"><span class="glyphicon glyphicon-brnad"></span> Upload</a>
      </li>
    
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/logout"><span class="glyphicon glyphicon-logout"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>
