<!DOCTYPE html>
<html>
  <head>
    <title>Brands DB</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/brands_db/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/brands_db/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u48" class="ax_default heading_1">
        <div id="u48_div" class=""></div>
        <div id="u48_text" class="text ">
          <p><span>Product by Brands : admin</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) [footnote] -->
      <div id="u48_ann" class="annotation"></div>

      <!-- Unnamed (Table) -->
      <div id="u49" class="ax_default">

        <!-- Unnamed (Table Cell) -->
        <div id="u50" class="ax_default table_cell">
          <img id="u50_img" class="img " src="images/collection_view/u6.png"/>
          <div id="u50_text" class="text ">
            <p><span>BRANDS</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u51" class="ax_default table_cell">
          <img id="u51_img" class="img " src="images/brands_db/u51.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u52" class="ax_default table_cell">
          <img id="u52_img" class="img " src="images/brands_db/u51.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u53" class="ax_default table_cell">
          <img id="u53_img" class="img " src="images/brands_db/u53.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u54" class="ax_default table_cell">
          <img id="u54_img" class="img " src="images/collection_view/u6.png"/>
          <div id="u54_text" class="text ">
            <p><span>13MONTH</span></p>
          </div>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u55" class="ax_default table_cell">
          <img id="u55_img" class="img " src="images/brands_db/u51.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u56" class="ax_default table_cell">
          <img id="u56_img" class="img " src="images/brands_db/u51.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u57" class="ax_default table_cell">
          <img id="u57_img" class="img " src="images/brands_db/u53.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u58" class="ax_default table_cell">
          <img id="u58_img" class="img " src="images/brands_db/u58.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u59" class="ax_default table_cell">
          <img id="u59_img" class="img " src="images/brands_db/u59.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u60" class="ax_default table_cell">
          <img id="u60_img" class="img " src="images/brands_db/u59.png"/>
        </div>

        <!-- Unnamed (Table Cell) -->
        <div id="u61" class="ax_default table_cell">
          <img id="u61_img" class="img " src="images/brands_db/u61.png"/>
        </div>
      </div>

      <!-- Unnamed (HTML Button) -->
      <div id="u62" class="ax_default html_button">
        <input id="u62_input" type="submit" value="VIEW"/>
      </div>

      <!-- Unnamed (HTML Button) [footnote] -->
      <div id="u62_ann" class="annotation"></div>

      <!-- Unnamed (HTML Button) -->
      <div id="u63" class="ax_default html_button">
        <input id="u63_input" type="submit" value="BACKUP"/>
      </div>

      <!-- Unnamed (HTML Button) [footnote] -->
      <div id="u63_ann" class="annotation"></div>

      <!-- Unnamed (HTML Button) -->
      <div id="u64" class="ax_default html_button">
        <input id="u64_input" type="submit" value="DELETE"/>
      </div>

      <!-- Unnamed (HTML Button) [footnote] -->
      <div id="u64_ann" class="annotation"></div>

      <!-- Unnamed (Menu) -->
	  	<% include ../partials/menu.ejs %>
    </div>
  </body>
</html>
