<!DOCTYPE html>
	<html>
		<head>
			<% include ../partials/header.ejs %>
		</head>
		<body>
	<% include ../partials/nav.ejs %>
		 <div id="u4" class="ax_default heading_1">
        <div id="u4_div" class=""></div>
        <div id="u4_text" class="text ">
          <p><span>My Collections: My_ID</span></p>
        </div>
      </div>
			<form id="g_sheet" action="" name="form" method="post">
				<div class="col-lg-12">
				<div class="in-input">
					<input  class="form-control " type="text" Placeholder="New collection name" name="col_name" />
				</div>
				
				
				<div class="in-btn">
					<input class="btn btn-primary" type="submit" name="submit" value="+Craete Collection">
				</div>
				</div>
			</form>
			
			<div class="container">
				
				<div class="scrool">
					<table id = "example" class="table table-bordered">
					<thead>
			  <tr>
				<th>Collection</th><th colspan="6">Actions</th>
			  </tr>
		  </thead>
		  <tbody>
		  <tr>
		  <td>Collection 1</td>
		  <td>Import</td>
		  <td>Edit</td>
		  <td>Export</td>
		  <td>Upload</td>
		  <td>Delete</td>
		  <td>Duplicate</td>
		  </tr>
		  </tbody>
					</table>
				</div>
				
			</div>
			
			<script>
			
		$(document).ready(function() {
			<!-- $('table').SetEditable(); -->
			$('#example').dataTable(); 
			
		} );
		
</script>
			
		</body>
	</html>


