<!DOCTYPE html>
	<html>
		<head>
			<% include ../partials/header.ejs %>
		</head>
		<body>
	<% include ../partials/nav.ejs %>
		<div class="radio-btn">
			<input type="radio" name="r1" onclick="show(this.value);" value="g_sheet" checked />Google Sheet
			<input type="radio" name="r1" onclick="show(this.value);"  value="csv"/>CSV
			</div>
			<form id="g_sheet" action="" name="form" method="post">
				<div class="col-lg-12">
				<div class="in-input">
					<input  class="form-control " type="text" Placeholder="Paste your Spreadsheet ID here" name="sheet_url" />
				</div>
				
				
				<div class="in-btn">
					<input class="btn btn-primary" type="submit" name="submit" value="sync">
				</div>
				</div>
			</form>
			<form id="csv" style="display:none;"action="" name="form" method="post">
				<div class="col-lg-12">
				<div class="in-input">
					<input  class=" " type="File" Placeholder="Paste your Spreadsheet ID here" name="csv" />
				</div>
				
				
				<div class="in-btn">
					<input class="btn btn-primary" type="submit" name="submit" value="sync">
				</div>
				</div>
			</form>
			<div class="container">
				<% if(data != ""){ %>
				<div class="scrool">
					<table id = "example" class="table table-bordered">
					<thead>
					<tr>
						<th><select id="dropdown1" style="width: 100%;">
						  <option>SPU</option>
						</select> </th>
						<th><select id="dropdown2" style="width: 100%;">
						  <option>SKU</option>
						</select> </th>
						<th><select id="dropdown3" style="width: 100%;">
						  <option>BARCODE NUMBER</option>
						</select> </th>
						<th><select id="dropdown4" style="width: 100%;">
						  <option>BRAND</option>
						</select> </th>
						<th class=""> 
						<select id="dropdown5" style="width: 100%;">
						  <option>PRODUCT NAME</option>
						</select>
						</th>
					
						<th><select id="dropdown6" style="width: 100%;">
						  <option>TAG PRICE</option>
						</select> </th>
						<th><select id="dropdown7" style="width: 100%;">
						  <option>SALE PRICE</option>
						</select> </th>
						<th><select id="dropdown8" style="width: 100%;">
						  <option>IMAGE</option>
						</select> </th>
						<th><select id="dropdown9" style="width: 100%;">
						  <option>FABRIC</option>
						</select> </th>
						<th><select id="dropdown10" style="width: 100%;">
						  <option>HS CODE</option>
						</select> </th>
						<th><select id="dropdown11" style="width: 100%;">
						  <option>(Tmall only)</option>
						</select> </th>
						<th><select id="dropdown12" style="width: 100%;">
						  <option>(Tmall only)0</option>
						</select> </th>
						<th><select id="dropdown13" style="width: 100%;">
						  <option>(Tmall only)1</option>
						</select> </th>
						<th><select id="dropdown14" style="width: 100%;">
						  <option>(Tmall only)2</option>
						</select> </th>
						<th><select id="dropdown15" style="width: 100%;">
						  <option>(Tmall only)3</option>
						</select> </th>
						<th><select id="dropdown16" style="width: 100%;">
						  <option>MADE IN</option>
						</select> </th>
						<th><select id="dropdown17" style="width: 100%;">
						  <option>WEIGHT(kg)</option>
						</select> </th>
						<th><select id="dropdown18" style="width: 100%;">
						  <option>HOW TO WASH</option>
						</select> </th>
						<th><select id="dropdown19" style="width: 100%;">
						  <option>SELLING POINT (description)</option>
						</select> </th>
						<th><select id="dropdown20" style="width: 100%;">
						  <option>PRODUCT PRICE</option>
						</select> </th>
						<th><select id="dropdown21" style="width: 100%;">
						  <option>SHIPPING FEE</option>
						</select> </th>
						<th><select id="dropdown22" style="width: 100%;">
						  <option>TOTAL PRICE(U+V)</option>
						</select> </th>
						<th><select id="dropdown23" style="width: 100%;">
						  <option>TOTAL PRICE(U+V)1</option>
						</select> </th>
					</tr>
					</thead>
					<tbody>
						<tr>
						<% data.forEach(function(r, index) { %>
																					
							<% if(index > 23 && index % 23 == 0){ %>
						</tr><tr>
							<% } %>
							<% if(index < 23){ %>

							<% }else{ %>
								<td><%= r.value %> </td>
							<% } %>
						<% }); %>
						</tr>
					</tbody>
					</table>
				</div>
				<a class="save" href="javascript:void(0);">Save</a>
				<% } %>
			</div>
			
			<script>
			
		$(document).ready(function() {
			$('table').SetEditable();
			<!-- $('#example').dataTable();  -->
		
			$(".save").click(function() {
					var values = $('th > select option:selected').map(function() {
				return this.value;
			}).toArray();

			var hasDups = !values.every(function(v,i) {
			<!-- alert("v"+v+"-----i"+i); -->
				return values.indexOf(v) == i;
			});

				alert(hasDups);
				if (hasDups){
					alert("Two or more column have same headings.Heading must be unique");
				}else{
				
				var mainArray =[];
				
 					$("table").find('tr').each(function (i, el) {
						var $ths  = $( "th > select option:selected" );
						var $tds  = $(this).find('td');
						<!-- for(k=0;k<4;k++){ -->
							column = $ths.eq(0).text();
							column1 = $ths.eq(1).text();
							column2 = $ths.eq(2).text();
							column3 = $ths.eq(3).text();
							column4 = $ths.eq(4).text();
							column5 = $ths.eq(5).text();
							column6 = $ths.eq(6).text();
							value = $tds.eq(0).text();
							value1 = $tds.eq(1).text();
							value2 = $tds.eq(2).text();
							value3 = $tds.eq(3).text();
							value4 = $tds.eq(4).text();
							value5 = $tds.eq(5).text();
							value6 = $tds.eq(6).text();
						var	innerElement = { 
												'"'+column+'"' : value, 
												'"'+column1+'"' : value1, 
												'"'+column2+'"' : value2, 
												'"'+column3+'"' : value3, 
												'"'+column4+'"' : value4, 
												'"'+column5+'"' : value5, 
												'"'+column6+'"' : value6
												
											
											};
						<!-- } -->
						alert(JSON.stringify(innerElement));
					});
				}
			});
			accountName = ["SPU", "SKU", "BARCODE NUMBER", "BRAND", "PRODUCT NAME", "TAG PRICE", "SALE PRICE", "IMAGE", "FABRIC", "HS CODE", "(Tmall only)", "(Tmall only)0", "(Tmall only)1",	"(Tmall only)2", "(Tmall only)3",	"MADE IN", "WEIGHT(kg)", "HOW TO WASH",	"SELLING POINT (description)", "PRODUCT PRICE",	"SHIPPING FEE",	"TOTAL PRICE(U+V)", "TOTAL PRICE(U+V)1" ];
			var loop = $("th").length;
			for(var i =1;i< loop;i++){
				var selected = $("#dropdown"+i).val();
				$("#dropdown"+i).empty();
				$.each(accountName, function( key, value) {   
					if(selected == value){ var select = 'selected';}else{ var select = '';}
					$('#dropdown'+i).append($("<option "+ select+" ></option>")
									.attr("value",value)
									.text(value)); 
				});
			}	
		} );
		function show(val){
			if(val == "csv"){
				$("#csv").show();
				$("#g_sheet").hide();
			}else{
				$("#csv").hide();
				$("#g_sheet").show();
			}
		}
</script>
			
		</body>
	</html>
